extends layout-embed

block content
  .container-fluid.embeddable
    .row
      .col-sm-12
          form.form-inline(style="margin-bottom:5px;")
      .form-group
        div#user #{__('You are currently not logged in')}
        label.sr-only(for="userfield") 
        .input-group
          .input-group-addon#avatar 
            span 🐮
          input.form-control#guest-name(type="text", placeholder="#{__('Anonymous cow')}")
          .input-group-addon.btn-login.btn-success 
            span.icon-key2
            |  #{__('Sign in')}
        form(method="post", action="#")
          .well#guest-name(style="display:none; width:auto; position:absolute; height:138px;")
            input#guest-name-input.col-sm-12(type="text", name="name", style="border: 0 0 0 0; font-size:2em;", border="0", value="Anonymous troll") 
          textarea#c(name="comment", style="font-size: 3em; width:100%; height:138px;") 
          button.btn.btn-success#s(type="button", style="width:100%") #{__('Submit comment')}
    .row
      .col-sm-12#comments(style="padding-top:20px;")
        each comment in comments
          .well
            b #{comment.commenter} #{__('wrote:')} 
            div!= md.toHTML(comment.comment)

  script(src="/js/markdown.min.js")
  script(src="/js/embed.js")