extends layout-dashboard

block content
  .container-fluid.embeddable
    .row
        .col-lg-12
          form.form-inline
            div
              // Form Name
              legend #{__('Quick start')}
              // File Button
              .row

                .col-xs-12.col-lg-6.col-lg-offset-3.text-center
                  h2 #{__('General settings')}
                  span #{__('Project title')}
                  input.form-control.col-xs-12(type="text", name="name")
              // Multiple Radios
              .row
                // Select CSS Framework
                .control-group.radio.col-lg-4

                  h2 #{__('CSS Framework')}
                  label.col-xs-12.button
                    input(type="radio", name="css-framework" value="")
                    span.cr
                      i.cr-icon.fa.fa-check.text-primary
                    span. #{__('Bootstrap')}    
                  label.col-xs-12 
                    input(type="radio", name="css-framework" value="")
                    span.cr
                      i.cr-icon.fa.fa-check.text-primary
                    span #{__('Foundation')}    
                  label.col-xs-12 
                    input(type="radio", name="css-framework" value="")
                    span.cr
                      i.cr-icon.fa.fa-check.text-primary
                    span #{__('Materialize')}    
                  label.col-xs-12 
                    input(type="radio", name="css-framework" value="")
                    span.cr
                      i.cr-icon.fa.fa-check.text-primary
                    span #{__('Purecss')}   
                  label.col-xs-12 
                    input(type="radio", name="css-framework" value="")
                    span.cr
                      i.cr-icon.fa.fa-check.text-primary
                    span #{__('Semantic UI')}    
                  label.col-xs-12 
                    input(type="radio", name="css-framework" value="")
                    span.cr
                      i.cr-icon.fa.fa-check.text-primary
                    span #{__('Skeleton')}    
                  label.col-xs-12 
                    input(type="radio", name="css-framework" value="")
                    span.cr
                      i.cr-icon.fa.fa-hand-peace-o.text-primary
                    span #{__('Commento open theme')} 
                      a(href="https://bitbucket.com/commento.io/commento-theme-default", target="_blank") #{__('(more info)')}

                  label.hide.control-label(for="ux-bootstrap-theme") Bootstrap theme
                  .controls.hide
                    select#ux-bootstrap-theme.input-xlarge(name="ux-bootstrap-theme")
                      option None, Inherit bootstrap from my project.
                      option Cyborg
                      option Slate
                      option Journal
                      option Darkly
                      option Flatly
                      option Cerulean
                      option Cosmo
                      option Lumen
                      option United
                      option Superhero
                .control-group.checkbox.col-lg-4

                  h2 #{__('Moderation')}
                  label.col-xs-12(style="") 
                    input(type="checkbox", value="")
                    span.cr.bg-default
                      i.cr-icon.fa.fa-users.text-secondary
                    span #{__('Moderate all')}     

                  label.col-xs-12(style="") 
                    input(type="checkbox", value="")
                    span.cr.bg-default
                      i.cr-icon.fa.fa-user-secret.text-danger
                    span #{__('Anonymous comments')}     

                  label.col-xs-12(style="") 
                    input(type="checkbox", value="")
                    span.cr.bg-default
                      i.cr-icon.fa.fa-frown-o.text-danger
                    span #{__('Low karma')}     

                .control-group.checkbox.col-lg-4

                  h2 #{__('Identities')}
                  label.col-xs-12 
                    input(type="checkbox", value="")
                    span.cr
                      i.cr-icon.fa.fa-user-secret.text-success
                    span #{__('Allow anonymous comments')}

                  label.col-xs-12 
                    input(type="checkbox", value="")
                    span.cr
                      i.cr-icon.fa.fa-user-times.text-danger
                    span #{__('Disallow identities (only anon comments)')}                                    



                
              .row
                .control-group.col-lg-12.text-right
                  label.control-label(for="save")
                  .controls
                    button#save.btn.btn-primary(name="save") Save
                    button#cancel.btn.btn-inverse(name="cancel") Cancel
