extends layout

block content
  .container
    h1 Commento
      a(style="") .io
    p #{title} #{__('is not yet the most awesome commenting system in the world.')}
    
    .row

      .col-sm-5
        #commento
      

      .col-sm-7
        h1 #{__('Write it')}
        h3 #{__('then HIT the button')}
        h1 &lt; #{__('now here be comments')}
        h2(style="text-align:right; color: salmon;") &gt; 
          a(href="https://bitbucket.org/commento/commento-website", target="_blank", style="text-decoration: underline;") #{__('you may fork')}
          | #{__('and use freely')}
        .well.alert
          span.pull-left(style="position:absolute; text-align:left; font-size:5em; margin: -0.3em 0 0 0;") ☠ 
          h4(style="text-align:left; font-size: 1.5em; margin-left: 4em;") #{__('and you can also pay us for hosted instances with a')}
            a(href="#") #{__('price scheme or custom implementations.')}
            | #{__('Very expensive plans. Avoid.')}


        h3.pull-right #{__('How to embed in your pages?')}
        div.clearfix
        p.
          #{__('Add an')} <code>&lt;script&gt;</code> #{__('in your HTML head.')}
        div.row
          pre
            code
              | &lt;script src="/js/commento.io.js"&gt;
        p.
          #{__('Then put "commento" as id wherever you want the comments.')}
        div.row
          pre
            code
              | &lt;div id="commento"&gt;&lt;/div&gt;        
        div.clearfix
        p.
          #{__('You can algo use our hosted url')}
        div.row
          pre
            code
              | &lt;script src="//cdn.commento.io/latest.js"&gt;
        div.clearfix
