doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(rel="icon",type="image/png" href="/favico.png")
    title= title
    block css
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Droid+Serif|Amatic+SC')
      - var swatches = ["cerulean", "cosmo", "cyborg", "darkly", "flatly", "journal", "lumen", "paper", "readable", "sandstone", "simplex", "slate", "spacelab", "superhero", "united", "yeti"];
      - var swatch = swatches[embedStyle];
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/#{swatch}/bootstrap.min.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
      link(href="/css/style.css", rel="stylesheet")

    style.
      h1, h2, h3, h4 {
        font-family: 'Droid Serif', cursive;
      }
      h1 { font-size: 5em;}
      h2, h3{ font-size: 3em;}
    block js
      if ENV_DEVELOPMENT
        script(src='//localhost:35729/livereload.js')

      script.
        var AUTH0_CLIENT_ID = '#{process.env.AUTH0_CLIENT_ID}';
        var AUTH0_DOMAIN = '#{process.env.AUTH0_DOMAIN}';
        var AUTH0_CALLBACK_URL = '#{process.env.AUTH0_CALLBACK_URL}';
      script(src="/js/jquery-1.11.3.min.js")
      script(src="https://cdn.auth0.com/js/lock-7.5.js")
      script(type="text/javascript", src="//use.typekit.net/iws6ohy.js")
      script.
        try{Typekit.load();}catch(e){}
      script(src="/app.js")
  body
    block content
