doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(rel="icon",type="image/png" href="/favico.png")
    title= title
    block css
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Droid+Serif|Amatic+SC')
      - var swatches = ["cerulean", "cosmo", "cyborg", "darkly", "flatly", "journal", "lumen", "paper", "readable", "sandstone", "slate", "superhero", "united", "yeti"];
      - var embed_style = Math.floor(Math.random(1, 0)*1*swatches.length);
      - var swatch = swatches[4]; //[embed_style];
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/#{swatch}/bootstrap.min.css')
      link(rel='stylesheet', href='http://i.icomoon.io/public/temp/51f8422999/UntitledProject/style.css')

    style.
      h1, h2, h3, h4 {
        font-family: 'Amatic SC', cursive;
      }
      h1 { font-size: 5em;}
      h2, h3{ font-size: 3em;}
    block js
      if ENV_DEVELOPMENT
        //script(src='//localhost:35729/livereload.js')

      script.
        var swatch = '#{embed_style}';
      script(src="/js/commento.io.js")
  body
    block content